.profile-sidebar {
  padding-right: 24px;
}

.profile-avatar {
  width: 100%;
  margin-bottom: 16px;
  
  .avatar-img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #d0d7de;
  }
}

.profile-names {
  margin-bottom: 16px;
}

.vcard-names {
  line-height: 1;
  margin: 0;
}

.vcard-fullname {
  display: block;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  color: #1f2328;
}

.vcard-username {
  display: block;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #636c76;
}

.profile-bio {
  font-size: 16px;
  margin-bottom: 16px;
  color: #1f2328;
}

.profile-actions {
  margin-bottom: 16px;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  padding: 5px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  appearance: none;
  color: #24292f;
  background-color: #f6f8fa;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;

  &:hover {
    background-color: #f3f4f6;
    border-color: #d0d7de;
    transition-duration: 0.1s;
  }
}

.profile-details {
  font-size: 14px;
  color: #1f2328;
}

.followers-section {
  margin-bottom: 16px;
  
  .detail-item {
    color: #636c76;
    text-decoration: none;
    
    &:hover {
      color: #0969da;
      text-decoration: underline;
    }
  }

  .text-bold {
    font-weight: 600;
    color: #1f2328;
  }
}

.vcard-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.vcard-detail {
  padding-top: 4px;
  display: flex;
  align-items: center;
  
  svg {
    margin-right: 8px;
    color: #636c76;
  }
  
  a {
    color: #1f2328;
    text-decoration: none;
    
    &:hover {
      color: #0969da;
      text-decoration: underline;
    }
  }
}
