<div class="error-message" *ngIf="error">
  <div class="flash flash-error">
    {{ error }}
  </div>
</div>

<div class="profile-sidebar" *ngIf="user$ | async as user">
  <div class="profile-avatar">
    <img [src]="user.avatar_url" [alt]="user.name" class="avatar-img">
  </div>

  <div class="profile-names">
    <h1 class="vcard-names">
      <span class="p-name vcard-fullname">{{ user.name }}</span>
      <span class="p-nickname vcard-username">{{ user.login }}</span>
    </h1>
  </div>

  <div class="profile-bio" *ngIf="user.bio">
    {{ user.bio }}
  </div>

  <div class="profile-actions">
    <button class="btn btn-block">Edit profile</button>
  </div>

  <div class="profile-details">
    <div class="followers-section">
      <a href="#" class="detail-item">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-people">
          <path
            d="M2 5.5a3.5 3.5 0 1 1 5.898 2.549 5.507 5.507 0 0 1 3.034 4.084.75.75 0 1 1-1.482.235 4.001 4.001 0 0 0-7.9 0 .75.75 0 0 1-1.482-.235A5.505 5.505 0 0 1 3.102 8.05 3.49 3.49 0 0 1 2 5.5ZM11 4a3.001 3.001 0 0 1 2.226 5.03.75.75 0 0 1 1.274.8A4.5 4.5 0 0 0 11 2.5a4.5 4.5 0 0 0-3.214 7.55.75.75 0 0 1 1.274-.8A3 3 0 0 1 11 4Zm-5.5-.5a2 2 0 1 0-.001 3.999A2 2 0 0 0 5.5 3.5Z">
          </path>
        </svg>
        <span class="text-bold">{{ user.followers }}</span> followers
      </a>
      <span>·</span>
      <a href="#" class="detail-item">
        <span class="text-bold">{{ user.following }}</span> following
      </a>
    </div>

    <ul class="vcard-details">
      <li *ngIf="user.company" class="vcard-detail pt-1">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-organization">
          <path
            d="M1.75 2.5a.75.75 0 0 0 0 1.5h.5v8.75a.75.75 0 0 0 .75.75h10a.75.75 0 0 0 .75-.75V4h.5a.75.75 0 0 0 0-1.5H1.75ZM3.75 4h8.5v8.25h-8.5V4Zm1 1.5a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-1.5Zm0 4a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-1.5Zm4.5-4a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-1.5Zm0 4a.25.25 0 0 1 .25-.25h1.5a.25.25 0 0 1 .25.25v1.5a.25.25 0 0 1-.25.25h-1.5a.25.25 0 0 1-.25-.25v-1.5Z">
          </path>
        </svg>
        <span>{{ user.company }}</span>
      </li>
      <li *ngIf="user.location" class="vcard-detail pt-1">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-location">
          <path
            d="m12.596 11.596-3.535 3.536a1.5 1.5 0 0 1-2.122 0l-3.535-3.536a6.5 6.5 0 1 1 9.192-9.193 6.5 6.5 0 0 1 0 9.193Zm-1.06-8.132v-.001a5 5 0 1 0-7.072 7.072L8 14.07l3.536-3.534a5 5 0 0 0 0-7.072ZM8 9a2 2 0 1 1-.001-3.999A2 2 0 0 1 8 9Z">
          </path>
        </svg>
        <span>{{ user.location }}</span>
      </li>
      <li *ngIf="user.blog" class="vcard-detail pt-1">
        <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true"
          class="octicon octicon-link">
          <path
            d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a2.002 2.002 0 0 0 0 2.83Z">
          </path>
        </svg>
        <a [href]="user.blog" target="_blank">{{ user.blog }}</a>
      </li>
    </ul>
  </div>
</div>